DB_Password = swaS[ik12
DB_URL = jdbc:mysql://localhost:3306/speech_to_text
DB_Username = root
DEEPGRAM_API_KEY= "create your own deepgram api key from https://console.deepgram.com/signup"
JWT_SECRET="create your own jwt secret key for your application"